@import url("https://fonts.googleapis.com/css2?family=Caramel&family=Prosto+One&family=Ubuntu:wght@300&display=swap");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
}

:root {
  --light: rgb(150, 215, 238);
  --bradius: 25px;
  --darker: rgb(5, 87, 116);
  --darkest: rgb(0, 50, 60);
}

/* global styles */

* {
  color: rgb(163, 230, 255);
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
}

/* individual selectors */

text {
  position: absolute;
  right: 40px;
  margin-top: 95px;
  background-color: var(--light);
  font-size: 30px;
  font-weight: bold;
}

a {
  color: var(--light);
}

p {
  margin-right: 220px;
  max-width: 700px;
  min-width: 300px;
  text-align: center;
}

h2 {
  font-size: 35px;
  padding: 50px;
  margin-right: 80%;
  border-right: solid var(--darker);
  max-width: 100px;
}

/* Header  */

header {
  width: 100vw;
  height: 9vh;
}

header h1 {
  margin-left: 200px;
}

header li {
  display: inline-block;
  margin-top: 10px;
  margin-left: 25px;
  font-weight: bold;
}

nav {
  position: absolute;
  top: 0;
  left: 50%;
}

.header-img {
  background-image: url("./images/blueheader.png");
  height: 150px;
  width: 100%;
}

/* about me section  */

#about-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#about-me p {
  position: absolute;
  left: 500px;
}

#about-me h3 {
  margin-left: 50px;
}

.pfp {
  margin: auto;
  border-radius: 200px;
  max-height: 200px;
  min-width: 125px;
  margin-top: 20px;
  margin-left: 100px;
}

/* project section  */

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: column;
  align-items: center;
  margin-left: 300px;
  margin-top: 70px;
}

.project-one,
.project-two,
.project-three {
  position: relative;
}

.projects img {
  border-radius: var(--bradius);
  max-height: 250px;
  max-width: 440px;
  z-index: -1;
  margin-left: 5px;
}

.projects h3 {
  position: absolute;
  z-index: 1;
  border: solid var(--darker);
  background-color: var(--light);
  padding: 10px;
  max-width: 100px;
  bottom: 100px;
  right: 300px;
}

#projects h2 {
  position: absolute;
  left: 5px;
}

.project-one img {
  margin-right: 180px;
  margin-bottom: 10px;
  min-width: 900px;
  min-height: 460px;
  z-index: -1;
}
.project-one h3 {
  position: absolute;
  padding: 20px;
  left: 20px;
  bottom: 350px;
}

/* contact section */

#contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

#contact h3 {
  position: relative;
  right: 30%;
}

.favicondiv {
  margin: auto;
}

.favicon {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

/* psuedo class effects */

a img:hover {
  opacity: 0.7;
  box-shadow: 5px 5px 5px var(--light);
}

/* psuedo classes for veiwport changes */

@media screen and (max-width: 1235px) {
  /* individual psuedo selectors */

  section {
    display: flex;
    flex-wrap: wrap;
  }

  h2 {
    display: none;
  }

  /* header */

  header,
  .headerimg {
    position: relative;
    max-height: 200px;
  }

  nav {
    position: relative;
    top: 1px;
    left: 20px;
  }
  nav li {
    display: block;
    margin: 10px;
  }

  /* about me section */

  #about-me {
    display: block;
    margin-left: 20%;
    min-width: 400px;
  }
  #about-me p {
    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .pfp {
    display: block;
    margin-left: 25%;
  }

  /* project section */

  .projects {
    margin-left: 0px;
  }
  .project-one img {
    min-height: 250px;
    min-width: 440px;
    flex-direction: column;
    margin-right: 0px;
    margin-bottom: 0px;
    margin: 5px;
  }
  .project-two,
  .project-three {
    flex-direction: column;
  }
  .project-one h3 {
    left: 20px;
    bottom: 125px;
    padding: 20px;
  }
}

/* contact psudoclasses at 1000px or less veiwport */

@media screen and (max-width: 1000px) {
  #contact {
    display: block;
    margin-left: 50%;
    margin-right: 50%;
  }
  .favicondiv h3 {
    display: flex;
    justify-content: center;
    margin-left: 25px;
  }
}

/* googlefontapi */

/*
----declarations avaliable----

font-family: 'Caramel', cursive;
font-family: 'Prosto One', cursive;
font-family: 'Ubuntu', sans-serif; 

*/
