@import url("https://fonts.googleapis.com/css2?family=Caramel&family=Prosto+One&family=Ubuntu:wght@300&display=swap");

canvas {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

main {
  position: absolute;
}

:root {
  --light: rgb(150, 215, 238);
  --bradius: 25px;
  --darker: rgb(5, 87, 116);
  --darkest: rgb(0, 50, 60);
}

/* global styles */

* {
  color: rgb(163, 230, 255);
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
}

/* individual selectors */

text {
  position: absolute;
  right: 40px;
  margin-top: 95px;
  background-color: var(--light);
  font-size: 30px;
  font-weight: bold;
}

a {
  color: var(--light);
}

p {
  margin-right: 220px;
  max-width: 700px;
  min-width: 300px;
  text-align: center;
}

h2 {
  font-size: 35px;
  padding: 50px;
  margin-right: 80%;
  border-right: solid var(--darker);
  max-width: 100px;
}

/* Header  */

header {
  width: 100vw;
  height: 9vh;
}

header h1 {
  margin-left: 200px;
}

header li {
  display: inline-block;
  margin-top: 10px;
  margin-left: 25px;
  font-weight: bold;
}

nav {
  position: absolute;
  top: 0;
  left: 50%;
}
